<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <table class="table table" style="margin-top: 50px;">
        <thead class="thead-dark">
        <tr>
            <th> Id </th>
            <th> Author Name </th>
            <th> Description </th>
            <th> Güncelle</th>
            <th> Sil</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${author.empty}">
            <td colspan="2"> No Authors Available </td>
        </tr>
        <tr th:each="author : ${author}">
            <td><span th:text="${author.id}"/></td>
            <td><span th:text="${author.authorName}"/></td>
            <td><span th:text="${author.description}"/></td>
            <td>
                <button type="button" class="btn btn-success">Güncelle</button>
            </td>
            <td>
                <a th:href="@{/api/deleteauthor/(id=${author.id})}">
                    <button type="button" class="btn btn-danger"
                            onclick="return confirm('Silmek istediğinizden eminmisiniz?');" >Sil</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="addnewauthor"><button type="button" class="btn btn-success">Yeni Yazar Ekle</button></a>
</div>
</body>
</html>