<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div style="margin-top: 15px">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="authors">Authors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="books">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="publishinghouse">PublishingHouses</a>
        </li>
    </ul>
</div>
<div class="container">
    <table class="table table" style="margin-top: 10px;">
        <thead class="thead-dark">
        <tr>
            <th> Id </th>
            <th> Author Name </th>
            <th> Description </th>
            <th> Güncelle</th>
            <th> Sil</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${author}">
            <td><span th:text="${author.id}"/></td>
            <td><span th:text="${author.authorName}"/></td>
            <td><span th:text="${author.description}"/></td>
            <td>
                <a th:href="@{/api/findbyid/(id=${author.id})}">
                    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" id="editButton">
                        Edit
                    </button>
                </a>
            </td>
            <td>
                <a th:href="@{/api/deleteauthor/(id=${author.id})}">
                    <button type="button" class="btn btn-danger"
                            onclick="return confirm('Are you sure delete this Author?');" >Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <td>
            <a href="addnewauthor"><button type="button" class="btn btn-success">Add new author</button></a>
        </td>
    </table>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/api/updateauthor}" method="put">
                    <div class="form-group">
                        <label class="col-form-label">Id</label>
                        <input type="text" class="form-control" id="idEdit" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Author Name</label>
                        <input type="text" class="form-control" id="authornameEdit" name="authorName">
                    </div>
                    <div class="form-group">
                        <label  class="col-form-label">Description</label>
                        <input type="text" class="form-control" id="descriptionEdit" name="description">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script >
    $('document').ready(function (){
        $('table #editButton').on('click', function (event){
            event.preventDefault();
            var href=$(this).parent().attr('href');
            $.get(href, function(author) {
                    $('#idEdit').val(author.id);
                    $('#authornameEdit').val(author.authorName);
                    $('#descriptionEdit').val(author.description);
            });
            $('#editModal').modal('show');
        });
    });
</script>
</body>
</html>