<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div style="margin-top: 15px">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="authors">Authors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="books">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="publishinghouse">PublishingHouses</a>
        </li>
    </ul>
</div>
<div class="container">
    <div style="margin-top: 15px">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <table class="table table" style="margin-top: 10px;">
        <thead class="thead-dark">
        <tr>
            <th> Id </th>
            <th> Book Name </th>
            <th> Book Subname </th>
            <th> Serial No </th>
            <th> Author </th>
            <th> Publishing House </th>
            <th> ISBN Number </th>
            <th> Description </th>
            <th> Update</th>
            <th> Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${book.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="book : ${book}">
            <td><span th:text="${book.id}"/></td>
            <td><span th:text="${book.name}"/></td>
            <td><span th:text="${book.subName}"/></td>
            <td><span th:text="${book.serialNo}"/></td>
            <td><span th:text="${book.author}"/></td>
            <td><span th:text="${book.publishingHouse}"/></td>
            <td><span th:text="${book.ISBNNumber}"/></td>
            <td><span th:text="${book.description}"/></td>
            <td> <button type="button" class="btn btn-primary">Edit</button></td>
            <td> <button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        </tbody>
    </table>
    <a th:href="addnewbook">
        <button type="button" class="btn btn-success">Add New Book</button>
    </a>
</div>
</body>
</html>