<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publishing House</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div style="margin-top: 15px">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="authors">Authors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="books">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="publishinghouse">PublishingHouses</a>
        </li>
    </ul>
</div>
<div class="container">
    <table class="table table" style="margin-top: 10px;">
        <thead class="thead-dark">
        <tr>
            <th> Id </th>
            <th> PublishingHouse Name </th>
            <th> Description </th>
            <th> Update</th>
            <th> Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${publishinghouse.empty}">
            <td colspan="2"> No PublishingHouses Available </td>
        </tr>
        <tr th:each="publishinghouse : ${publishinghouse}">
            <td><span th:text="${publishinghouse.id}"/></td>
            <td><span th:text="${publishinghouse.publishingHouseName}"/></td>
            <td><span th:text="${publishinghouse.description}"/></td>
            <td> <button type="button" class="btn btn-primary">Edit</button></td>
            <td>
                <a th:href="@{/api/deletepublishinghouse/(id=${publishinghouse.id})}">
                    <button type="button" class="btn btn-danger"
                            onclick="return confirm('Are you sure delete this PublishingHouse?');">Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="addnewpublishinghouse">
        <button type="button" class="btn btn-success">Add New PublishingHouse</button>
    </a>
</div>
</body>
</html>