<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <table class="table table" style="margin-top: 50px;">
        <thead class="thead-dark">
        <tr>
            <th> Id </th>
            <th> PublishingHouse Name </th>
            <th> Description </th>
            <th> Güncelle</th>
            <th> Sil</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${publishinghouse.empty}">
            <td colspan="2"> No PublishingHouses Available </td>
        </tr>
        <tr th:each="publishingHouse : ${publishinghouse}">
            <td><span th:text="${publishinghouse.id}"/></td>
            <td><span th:text="${publishinghouse.publishingHouseName}"/></td>
            <td><span th:text="${publishinghouse.description}"/></td>
            <td> <button type="button" class="btn btn-primary">Update</button></td>
            <td> <button type="button" class="btn btn-danger">Delete</button></td>
        </tr>
        </tbody>
    </table>
    <a th:href="addnewpublishinghouse">
        <button type="button" class="btn btn-success">Add New PublishingHouse</button>
    </a>
</div>
</body>
</html>